// variables
$brown: rgb(99, 31, 0);
$cream: #fcfce3;
$font01: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$staccato: "Staccato222 BT";

//fonts
@font-face {
  font-family: headingFont;
  src: url(../assets/fonts/AsmelinaHarley.ttf);
}

@font-face {
  font-family: textFont;
  src: url(../assets/fonts/estre.ttf);
}
@font-face {
  font-family: rageopt;
  src: url(../assets/fonts/rage.TTF);
}
@font-face {
  font-family: Staccato222BT;
  src: url(../assets/fonts/Staccato222BT.ttf);
}

// main styling

* {
  margin: 0;
  padding: 0;
}

body[data-aos-duration="7000"] [data-aos],
[data-aos][data-aos][data-aos-duration="7000"] {
  transition-duration: 7000ms;
}

body {
  overflow-x: hidden;
}

#banner {
  background: url("../assets/backgroundImages/bg_black.jpg") center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
}

.welcomeText {
  position: absolute;
  left: calc(50% - 18rem);
  top: calc(50% - 4.5rem);

  h1 {
    font-family: Staccato222BT;
    color: $cream;
    font-size: 32px;
    font-weight: 400;
  }
}

.logo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: url("../assets/bglogo.svg") center;
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 85px;
}

// Navigation Slide Bar

.menu__toggler {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 9999;
  height: 28px;
  widows: 28;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

span,
.color-logo,
span::after,
span::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 2.5px;
  border-radius: 20px;
  transition: 500ms cubic-bezier(0, 77, 0, 1);
}

.menu_white,
span.menu_white::before,
span.menu_white::after {
  background: $cream;
}
.menu_black,
span.menu_black::before,
span.menu_black::after {
  background: black;
}

span::before {
  top: -8px;
}

span::after {
  top: 8px;
}

.menu__toggler.active > span {
  background: transparent;
}

.menu__toggler.active > span::after,
.menu__toggler.active > span::before {
  background: $brown;
  top: 0;
}

.menu__toggler.active > span::before {
  transform: rotate(-225deg);
}

.menu__toggler.active > span::after {
  transform: rotate(225deg);
}

.menu {
  position: fixed;
  z-index: 998;
  left: -100%;
  color: $brown;
  height: 100vh;
  width: 20%;
  clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
  padding: 0 100px 0 100px;
  background: #ffffe0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 500ms left cubic-bezier(0.77, 0, 0.175, 1);
  font-family: $font01;
}

.menu.active {
  left: 0;
}

.menu a {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
  color: $brown;
}

// Fixed Center Logo

.fixed-center-logo {
  z-index: 9999;
  display: block;

  .centerlogo {
    position: fixed;
    width: 100px;
    height: auto;
    top: 10px;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
  }
}

// Food Menu at the top right corner

.menuButton-wrapper {
  z-index: 9999;
  position: fixed;
  text-decoration: none;
  right: 30px;
  top: 24px;
  border-width: 2px;
  border-style: solid;
  border-radius: 13px;

  .menuButton {
    display: block;
    margin: 4px 15px 1px 15px;

    p {
      float: right;
      text-decoration: none;

      font-family: $font01;
      padding-top: 3px;
      margin-left: 10px;
    }

    .serving-dish {
      background-size: cover;
      background-repeat: no-repeat;
      width: 27px;
      height: 27px;
      margin: 5px 55px 5px 0;
    }
  }
}

.white-dish {
  background: url(../assets/serving-dish.png);
}

.black-dish {
  background: url(../assets/serving-dish-black.png);
}

.white-border-color {
  border-color: $cream;
  color: $cream;
  font-weight: 500;
}

.black-border-color {
  border-color: black;
  color: black;
  font-weight: 500;
}

// Actual Menu
.menu1 {
  .menu-heading-h1 {
    font-family: "Dancing Script";
    color: black;
    font-size: 30px;
    display: block;
    text-align: center;
  }

  .row1-cat1 {
    margin: 0;
    padding: 0;
    text-align: center;
    max-height: 100%;
    margin-top: 20px;

    .food1 {
      display: inline-block;
      margin: 0;
      text-align: center;
      margin-right: 30px;

      .img1 {
        margin: 0;
        padding: 0;
        height: auto;
        width: 80px;
        display: inline-block;
      }
    }

    .food2 {
      display: inline-block;
      margin: 0;
      text-align: center;
      margin-right: 30px;

      .img2 {
        margin: 0;
        padding: 0;
        width: 80px;
        display: inline-block;
      }
    }

    .food3 {
      display: inline-block;
      margin: 0;
      text-align: center;

      .img3 {
        margin: 0;
        padding: 0;
        width: 80px;
        height: auto;
        display: inline-block;
      }
    }
  }
}

.menu1-list-items {
  font-family: "textFont";
  color: black;
  font-size: 23px;
  display: block;
  font-weight: 500;
}

.menu1-list-items-h2 {
  font-family: "textFont";
  color: black;
  font-size: 18px;
  display: block;
  font-weight: 500;
}

.cat1 {
  align-content: center;
  text-align: center;
}

// Arrow at the bottom to scroll down

.downArrow {
  display: block;

  .scroll-down {
    position: absolute;
    color: $cream;
    text-align: center;
    bottom: 40px;
    margin: 0 auto;
    align-content: center;
    left: 0;
    right: 0;
    opacity: 0.3;
    font-size: 50%;
    transition: top 0.3s;
  }

  .down-arrow-amp {
    position: absolute;
    color: $cream;
    text-align: center;
    bottom: 10px;
    margin: 0 auto;
    align-content: center;
    left: 0;
    right: 0;
    font-size: 130%;
    transition: top 0.3s;
  }
}

.hide-it-not {
  visibility: visible;
}

.hide-it {
  visibility: hidden;
}

//about Us page

#aboutUs {
  background: url(../assets/backgroundImages/aboutUs_bg.png),
    linear-gradient(#7a5333, #ac946b) center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
}

.aboutUs {
  width: 800px;
}

.WhoAreWe {
  padding: 0;
  font-family: "headingFont";
  font-size: 2.3rem;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20px;
}

.WhoAreWeText {
  font-family: "textFont";
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.gandhi {
  width: 130px;
  margin-top: 50px;
}

.quoteEng {
  margin: 0;
  margin-top: 12px;
  font-size: 28px;
  font-family: "rage", "rageopt";
  font-weight: 600;
}

.quoteHin {
  margin-top: 10px;
  font-size: 18px;
  font-family: "textFont", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

//testimonials

#testimonials {
  height: 600px;
  width: 100vw;
  background: url(../assets/backgroundImages/bg_black.jpg) center fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .tm-head {
    padding: 0;
    font-family: "headingFont";
    font-size: 2.6rem;
    text-align: center;
    font-weight: 500;
    text-align: center;
    color: $cream;
    padding-top: 50px;
  }

  .tm-body {
    width: 100%;
    text-align: center;
  }
  .box {
    margin: 40px 30px;
    width: 500px;
    height: auto;
    background: #ffffe0;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    opacity: 0.9;

    img {
      margin: 0 auto;
      margin-top: 20px;
      height: 90px;
      border-radius: 100px;
    }

    h1 {
      margin-top: 10px;
      font-family: "textFont";
      font-weight: 500;
    }

    p {
      margin-top: 20px;
      font-family: "textFont";
      font-size: 20px;
      padding-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

//Gallery

#gallery {
  height: 100vh;
  background: url(../assets/backgroundImages/aboutUs_bg.png),
    linear-gradient(#7a5333, #ac946b) center center;
  background-size: cover;
  background-attachment: fixed;

  .galHead {
    padding: 0;
    font-family: "headingFont";
    font-size: 4.6rem;
    text-align: center;
    margin: auto 30px auto 30px;
    height: 100vh;
    line-height: 100vh;
    font-weight: 500;
    float: left;
  }
}

.cols {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
}

.col {
  justify-content: center;
  align-items: center;
  width: calc(25% - 2.5rem);
  margin: 0.8rem;
}

.container {
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}

.front,
.back {
  background-size: cover;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  min-height: 180px;
  height: auto;
  color: #000;
  font-size: 0.9rem;
  font-family: "textFont";
}

.back {
  background: #fff;
  //background: linear-gradient(45deg, #fd0d44 0%, #1463e2 100%);
  background: linear-gradient(45deg, #b18d64 0%, #c1a17c 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;

  backface-visibility: hidden;
}
.container:hover .front,
.container:hover .back {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #fff;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

#contact-us {
  height: 100vh;
  width: 100vw;
  background: url(../assets/backgroundImages/bg_black.jpg) center fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .contact-head {
    padding: 0;
    font-family: "headingFont";
    font-size: 2.4rem;
    text-align: center;
    font-weight: 500;
    text-align: center;
    color: $cream;
    padding-top: 8%;
  }

  .contact-body {
    text-align: center;
    margin-top: 10px;

    .person-1 {
      display: inline-block;
      position: absolute;
      margin-right: 600px;

      .per-1-img {
        display: inline-block;
        img {
          height: 150px;
          border-radius: 100px;
        }
      }

      .per-1-data {
        display: inline-block;
        color: $cream;
        height: 100px;
        vertical-align: middle;
        margin-top: -130px;
        margin-left: 20px;
        text-align: justify;
      }
    }

    .person-2 {
      display: inline-block;
      margin-left: 800px;
      .per-2-img {
        display: inline-block;
        img {
          height: 150px;
          border-radius: 100px;
        }
      }

      .per-2-data {
        display: inline-block;
        color: $cream;
        height: 100px;
        vertical-align: middle;
        margin-top: -130px;
        margin-left: 20px;
        text-align: justify;
      }
    }

    .per-name {
      font-size: 25px;
      font-family: "textFont";
      font-weight: 400;
    }

    .per-title {
      font-size: 18px;
      font-family: "textfont";
      font-weight: 400;
      line-height: 20px;
    }

    .per-contact {
      font-size: 20px;
      font-family: "textfont";
      font-weight: 400;
      line-height: 30px;

      a {
        text-decoration: none;
        color: $cream;
        font-size: 19px;
      }
    }
  }

  .servings-head {
    padding: 0;
    font-family: "Dancing Script";
    font-size: 2.2rem;
    text-align: center;
    font-weight: 300;
    text-align: center;
    color: $cream;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .servings-body {
    text-align: center;

    a {
      text-decoration: none;
      color: black;
    }

    .map-branches {
      display: inline-block;
      height: 150px;
      width: 270px;
      margin: 0px 50px 0 50px;
      background-color: $cream;
      opacity: 0.7;
      border-radius: 30px;
      cursor: pointer;
    }

    .map-branches h1 {
      font-family: "textFont";
      position: relative;
      top: 50%;
      bottom: 50%;
      margin-top: -23px;
      font-size: 28px;
    }

    .map-branches h2 {
      font-family: "textFont";
      position: relative;
      top: 50%;
      bottom: 50%;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

h1.map-heading {
  text-align: center;
  font-family: "textFont";
  font-size: 30px;
  margin-bottom: 5px;
}

h2.map-subheading {
  text-align: center;
  font-family: "textFont";
  font-size: 18px;
  font-weight: 400;
}

.call-branch {
  text-align: center;
  display: inline-block;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 30px;
}

.call-branch a img {
  height: 60px;
  text-align: center;
}

.map-branch {
  text-align: center;
  display: inline-block;
  margin-left: 50px;
}

.map-branch a img {
  height: 60px;
  text-align: center;
}

//Footer

#footer {
  width: 100vw;
  height: auto;
  background-color: #c7ad7d;
  font-family: "textFont";
  text-align: center;
  //background-color: #7a5333;
}

.s-icons {
  margin: 15px 20px 10px 10px;
  display: inline-block;

  img {
    height: 25px;
  }
}

.last-icon {
  margin-right: 0;
}

.bkk {
  font-size: 17px;
}

#e-mail-id {
  text-align: center;

  a {
    text-decoration: none;
    color: $brown;
    font-size: 20px;
    font-family: "textFont";
    font-weight: 600;
  }
}

.sarthak {
  margin-top: 7px;
  padding-bottom: 15px;
  a {
    position: relative;
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 19px;
  }

  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

//Franchise
#franchise {
  text-align: center;
}
.feedback-h1 {
  font-family: "Dancing Script";
  margin: 0;
  letter-spacing: 0px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.franchise-h2 {
  display: block;
  margin: 0px 60px 20px 60px;
  font-family: "textfont";
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  align-content: center;
  color: black;
}

.one {
  margin-top: 10px;
}

.main {
  display: table;
  width: 100%;
}
form {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

input[type="text"] {
  margin-bottom: 12px;
  padding: 10px;
  color: #000;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid $cream;
  border-radius: 6px;
  background-color: $cream;
}

input:focus,
textarea:focus {
  border: 4px solid #d6ab67;
}

.submit-button {
  background-color: #d6ab67;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 11px 22px;
  text-decoration: none;
  margin-top: 25px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Media Queries
@media screen and (max-width: 700px) {
  // Refer to mobile.scss
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
